.center{
    text-align: center;
    margin: auto;
    font-family: monospace;
}
html{
    background-image: url('/img/fondo.png') ;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
body{
    background: transparent;
}
.h2{
    color: whitesmoke;
}
#app{
    display: none;
}